<!DOCTYPE html>
<html>
	<head>
		<title><%= __(title) %></title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
		<link rel='stylesheet' type='text/css' href='/stylesheets/adminStyle.css'>
	</head>
	<body>
		<div class='wrapper'>
			<%- include('adminHeader'); -%>
			<div class='content container'>
				<ul class="breadcrumb">
					<li><a href='/admin'><%= __('Admin') %></a></li>
					<li><a href='/admin/categories'>Categories</a></li>
					<li><a href='/admin/categories/<%= __(title) %>'><%= __(title) %></a></li>
				</ul>
				
				<div class='content-main'>
					<%- include('adminLeftNav'); -%>
					<div class='content-info'>
						<h2><%= __(title) %></h2>
						<p>You will update category:</p>
						<!-- <p class='updatedCategory'></p> -->
						<form action='' method='POST' class='update_category'>
							<label>from: <input type='text' name='updated_cat_name' value=''></label>
							<label>to: <input type='text' name='new_cat_name' value=''>
							</label>
							<button type='submit' class='update'>Update</a></div>
						</form>						
					</div>
				</div>
			</div>
		</div>
		
		<script src='/javascripts/update.js'></script>
	</body>
</html>
