<!DOCTYPE html>
<html>
	<head>
		<title><%= __(title) %></title>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
		<link rel='stylesheet' type='text/css' href='/stylesheets/adminStyle.css'>
	</head>
	<body>
		<div class='wrapper'>
			<%- include('adminHeader'); -%>
			<div class='content container'>
				<ul class="breadcrumb">
					<li><a href='/admin'><%= __('Admin') %></a></li>
					<li><a href='/admin/superCategories'>SuperCategories</a></li>
					<li><a href='/admin/superCategories/<%= __(title) %>'><%= __(title) %></a></li>
				</ul>
				
				<div class='content-main'>
					<%- include('adminLeftNav'); -%>
					<div class='content-info'>
						<h2><%= __(title) %></h2>
						<p>You will update superCategory:</p>
						<!-- <p class='updatedCategory'></p> -->
						<form action='' method='POST' class='update_supercategory'>
							<label>from: <input type='text' name='updated_supercat_name' value='<%= data.updated_supercat_name %>'></label>
							<label>to: <input type='text' name='new_supercat_name' value='<%= data.new_supercat_name %>'>
							</label>

							<div class='form-group'>
								<ul class='categories-list'>
									<% categories.forEach(function(category) { %>
										<li data-categoryname='<%= category.name %>' >
											<input class='category-checkbox' data-categoryid='<%= category.id %>' type='checkbox' name='<%= category.id %>' value='<%= category.id %>'>
											<label for='<%= category.id %>'><%= category.name %></label>
										</li>
									<% }); %>
								</ul>
							</div>

							<button type='submit' class='update'>Update</a></button>

							<ul class='supercategoryUpdated' data-supercategory='<%= superCategory.id %>'>
								<% superCategoryCategories.forEach(function(categoryFromSuperCat) { %>
									<li data-category_from_super_cat_id='<%= categoryFromSuperCat %>' class='categoryFromSuperCat'></li>
								<% }); %>
							</ul>

							
						</form>
						<% if (error) { %>
						<div class='error-info'>
							<p class='danger'>Error! <%= error %>! </p>
						</div>
						<% } %>
						<% if (success) { %>
						<div class=''>
							<p class='success'>Well done! The name of category was updated successefuly from '<%= data.updated_supercat_name %>' to '<%= data.new_supercat_name %>'</p>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		
		<script src='/javascripts/superCatUpdate.js'></script>
	</body>
</html>
