<div class='left-nav'>
	<ul>
		<li data-url="/admin/goods"><a href='/admin/goods' class='link-block'><%= __('Goods') %></a></li>
		<li data-url="/admin/categories"><a href='/admin/categories' class='link-block'><%= __('Categories') %></a></li>
		<li data-url="/admin/types"><a href='/admin/superCategories' class='link-block'><%= __('SuperCategories') %></a></li>
		<li data-url="/admin/tags"><a href='/admin/tags' class='link-block'><%= __('Tags') %></a></li>
		<li data-url="/admin/vendors"><a href='/admin/vendors' class='link-block'><%= __('Vendors') %></a></li>
		<li data-url="/admin/brands"><a href='/admin/brands' class='link-block'><%= __('Brands') %></a></li>
		<li data-url="/admin/countries"><a href='/admin/countries' class='link-block'><%= __('Countries') %></a></li>
		<li data-url="/admin/reviews"><a href='/admin/reviews' class='link-block'><%= __('Reviews') %></a></li>
		<li data-url="/admin/logout"><a href='/admin/logout' class='link-block'><%= __('Logout') %></a></li>
	</ul>
</div>