<!DOCTYPE html>
<html>
    <head>
        <title><% __('Hello') %></title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta charset='utf-8'>
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
    </head>
    <body>
        <header class='header'>   
            <nav class='menu container'>
              <ul>
                <li><a href='#' class='link-block'><%= __('AboutUs') %></a></li>
                <li><a href='#' class='link-block'><%= __('ShippingPay') %></a></li>
                <li><a href='#' class='link-block'><%= __('Contacts') %></a></li>
              </ul>
              <ul>
                <li><a href='#' class='link-block'><%= __('Language') %></a></li>
                <li><a href='#' class='link-block'><%= __('LogIn') %></a></li>
                <li><a href='#' class='link-block'><%= __('SignUp') %></a></li>
              </ul>
            </nav>						
				</header>
				<div>
					<!-- <a href='/logout'>LogOut</a> -->
			</div>
    </body>
</html>